name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Select Xcode Xcode_16.4
      run: ls -l /Applications && sudo xcode-select -s /Applications/Xcode_16.4.app
    - name: Skip macro validation
      run: defaults write com.apple.dt.Xcode IDESkipMacroFingerprintValidation -bool YES
    - name: Build, test, and code coverage
      run: make
    - name: Create Coverage Badge
      uses: schneegans/dynamic-badges-action@v1.7.0
      with:
        auth: ${{ secrets.GIST_UPDATE }}
        gistID: 16c85b76b7ca6fa55902ac6661e3bfde
        filename: AUv3Support-coverage.json
        label: Coverage
        message: ${{ env.PERCENTAGE }}
        color: success
